<div class="container px-2 py-1">
  <div class="row flex-lg-row-reverse justify-content-center g-5 py-2">
      <div class="col-10 col-sm-8 col-lg-6">
          <img src="images/pages/<%= page.imageCover %>" class="d-block mx-lg-auto img-fluid" alt="..." loading="lazy">
      </div>
      <div class="col-lg-6">
        <h2 class="display-5 fw-bold lh-2 mb-3 text-secondary-emphasis">About Us</h2>
        <p class="mb-5"><%= page.content %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/our-team" role="button" class="btn btn-success btn-lg px-4 me-md-2 shadow-lg">Explore</a>
        </div>
      </div>
  </div>
</div>
