<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/head'); %>
    </head>
    <body class="container">

    <header>
        <%- include('layouts/header'); %>
    </header>
    
    <main class="form-signin m-auto px-4">
        <br>
        <form class="login-form">
            <img class="mb-4" src="images/cannabis-logo-2.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Login to your account</h1>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>     
            <button type="submit" class="btn btn-outline-success btn-lg px-4 me-md-2">Login</button>
        </form>
        <div class="forgot-password mt-4 py-1">
            <a href="/forgot-password" class="forgot-password-link mb-4 py-1" type="button">Forgot Password?</a>
        </div> 
    </main>

    <footer>
        <%- include('layouts/footer'); %>
    </footer>

    </body>
</html>













