<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/head'); %>
    </head>
    <body class="container">

    <header>
        <%- include('layouts/header'); %>
    </header>

    <main class="m-auto">
        <form class="form-reset-password">
            <img class="mb-4" src="images/cannabis-logo-2.svg" alt="" width="72" height="57">
            <h4 class="mb-3">Reset your password</h4>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder=".........">
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password-confirm" placeholder="........">
                <label for="password-confirm">Password Confirm</label>
            </div>
            <input type="hidden" id="token" value="<%= validToken %>">       
            <button type="submit" class="btn btn-outline-success btn-lg px-4 me-md-2 save-pass-btn">Save</button>
        </form>
    </main>

    <footer>
        <%- include('layouts/footer'); %>
    </footer>

    </body>
</html>